<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs')%>
</head>
<body>

    <div class="wrapper">

        <main> <%- body %></main>
    </div>

    
</body>
<%- include('../partials/footer.ejs') %>
</html>