<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs')%>
</head>
<body>

    <div class="wrapper">

        <main> <%- body %></main>
    </div>

    <p style="text-align: center;"><a href="./register.ejs">Register</a></p>
    <p style="text-align: center;"><a href="./login.ejs">Login</a></p>

    
</body>
<%- include('../partials/footer.ejs') %>
</html>