<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header.ejs') %> 
  </head>
<body>

<form action="register" method="POST">
  <div>
    <h2>Register</h2>
    <p>Fill this out to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" title="letters" pattern="[A-Za-z0-9]" required>
    <br>
    <label for="pass"><b>Password</b></label>
    <input type="text" placeholder="Enter password" name="password" id="password" title="letters" pattern="[A-Za-z0-9]" required>
    <hr>
    <br>
    <button type="submit" class="registerbtn">Register</button>
    <div>
      <p>Already have an account? <a href="./login">Log in</a>.</p>
    </div>
</form>

</body>
</html>