<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header.ejs') %>
  </head>
  <body>

    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <form action="/action_page.php">

            <input type="text" placeholder="Enter task here" id="task">
            <input type="submit" value="Submit">
          </form>
      </div>
      


  </body>

  </html>