<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header.ejs') %>
  </head>
  <body>

        <h2>To-Do List</h2>
       
    <div class="container">
        <input id="inputField" type="text"><button id="addToDo">+</button>
        <div class="to-dos" id="toDoContainer"></div>
    </div>

      <script>
        let addToDoButton = document.getElementById('addToDo');
        let toDoContainer = document.getElementById('toDoContainer');
        let inputField = document.getElementById('inputField');
        

        addToDoButton.addEventListener('click', function() {

            let paragraph = document.createElement('p');
            paragraph.classList.add('paragraph-styling');
            paragraph.innerText = inputField.value;
            toDoContainer.appendChild(paragraph);
            inputField.value = " ";

        })
      </script>


  </body>

  </html>