<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header.ejs') %>
  </head>
  <body>

        <h2>To-Do List</h2>
       
    <!-- <div class="container">
        <input id="task" name='task' type="text"><button id="addToDo">+</button>
        <div class="to-dos" id="toDoContainer"></div>
    </div> -->

    <form action="task-list" method="POST">  
      <div class="container">
          <input id="taskInput" name="taskInput" type="text">
          <button type='submit' id="addToDo">+</button>
      </div>
    </form>
    <div class="to-dos" id="toDoContainer">
      <% allTask.forEach((task)=>{%>
        <div>
          <p>Task: <%=task.task%></p>
          <p>Completed: <%=task.isComplete%></p>
        </div>



        <%});%>

    </div>



  </body>

  </html>